@charset "UTF-8";

/*Paleta de Cores
Verde: #49a09d
Lilás:5f2c82 */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    transition: width .4s, heigth .4s;
}

div#foto{
    display: block;
    height: 200px;
    background: #5f2c82 url(../imagens/login_img_pqn.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

div#formulario {
    padding: 5px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 5px;
}

div#formulario > p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

div.entrada {
    background-color: #5f2c82;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

.material-symbols-outlined {
    color: white;
    padding-top: 5px;
}
